<% if @job.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <p>The following errors were detected:</p>
    <ol>
      <% @job.errors.messages.each do |field, errors| %>
        <% errors.each do |error| %>
          <li><%= field.capitalize %>: <%= error.capitalize %></li>
        <% end %>
      <% end %>
    </ol>
  </div>
<% end %>

<%= form_for @job do |f| %>
  <div class="mt-3">
    <%= f.label :title, "Job Title" %>
    <%= f.text_field :title, class: "form-control", placeholder: "Job Title" %>
  </div>

  <div class="mt-3">
    <%= f.label :description, "Job Description" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="mt-3">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>
