<%= paginate @jobs %>
<div class="jobTable">
  <table class="table table-striped table-hover mt-3">
    <thead>
      <tr>
        <th scope="col">Job Title</th>
        <th scope="col">Employer</th>
        <th scope="col">Location</th>
        <th scope="col">Expiration Date</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr class="jobRow<%= job.id %>">
          <td><%= link_to job.title, job_path(job) %></a></td>
          <td>Blank Enterprises, Ltd.</td>
          <td>Earth</td>
          <td>Tomorrow</td>
          <td><%= link_to "Edit", edit_job_path(job), class: "btn btn-info btn-sm" %></td>
          <td><%= link_to "Delete", job, method: :delete, class: "btn btn-danger btn-sm btn-deleteJob", remote: true %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @jobs %>
