<div class="card text-center mt-3">
  <div class="card-header">
    Posted by <%= link_to "#{@job.user.firstname} #{@job.user.lastname}", profile_path(@job.user.id) %>
  </div>
  <div class="card-body showJob">
    <h3 class="card-title jobTitle text-light"><%= @job.title %></h3>
    <p class="card-text text-light"><%= @job.description.html_safe %></p>

    <% if @job.candidates.exists? current_user.id %>
    <p class="alert alert-secondary">You have already applied to this job.</p>
    <% else %>
    <%= link_to "Apply", job_apply_path(@job), class: "btn btn-success btn-sm", method: :post %>
    <% end %>

    <% if @job.user == current_user %>
    <%= link_to "Edit", edit_job_path(@job), class: "btn btn-info btn-sm" %> <%= link_to "Delete", @job, method: :delete, class: "btn btn-danger btn-sm btn-deleteJob", remote: true %>
    <% end %>
  </div>
  <div class="card-footer text-muted row justify-content-around">
    <div class="col-4">
      <%= time_ago_in_words @job.updated_at %> ago
    </div>
    <div class="col-4">
      Closing at this time
    </div>
  </div>
</div>
