<!DOCTYPE html>
<html>
  <head>
    <title>JROBLET - billions and billions and billions and billions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/cyborg/bootstrap.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'header' %>

    <main role="main">

      <div class="container">
        <div class="col align-items-center ">
        <% unless flash[:notice].blank? %>
          <p class="alert alert-secondary"><%= notice %></p>
        <% end %>
        <% unless flash[:alert].blank? %>
          <p class="alert alert-warning"><%= alert %></p>
        <% end %>
        <% unless flash[:error].blank? %>
          <p class="alert alert-danger"><%= flash[:error] %></p>
        <% end %>

          <%= yield %>
        </div>
      </div>

    </main>

    <%= render 'footer' %>
  </body>
</html>
